<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/about.css">
    <title>DanceAcademy|About</title>
</head>

<body>
    <nav id="navbar">
        <div id="image">
            <img src="../static/dance logo.png" alt="image" class="logo">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./classInfo">Class Info</a></li>
            <li><a href="./services">Services</a></li>
            <li><a href="./contact">Contact Us</a></li>
        </ul>
    </nav>
    <section class="about-us">
        <p></p>
        “When I’m dancing, I’m not thinking about anything. I am here. I am totally there.
        You know? And the feeling is a sensation of being away from myself
        . My soul dances with the angels, and my body dances with my wife.” <br />– Paulo Coelho
    </section>
    <section class="dance-style">
        <div>
            <div class="alignment img-left">
                <div class="img-container"><img src="../static/pole-771x511.jpg" alt="imagenotfound" /></div>
                <div class="para-container dance-form dance-1">
                    <h2>Pole dance</h2>
                    <p> </p>
                    All of us know that Internet is a great place to spread the information. If you want to improve your
                    dancing school business then it is important for you to take a look at this awesome dance studio
                    template.
                </div>
            </div>
        </div>
        <div>
            <div class="alignment img-right">
                <div class="para-container dance-form dance-2">
                    <h2>Contemporary Dance</h2>
                    <p> </p>
                    We can especially recommend this dance school template to dancers and true artists.
                    Customization capabilities of this AMP dancing template are unmatched in terms of both depth and
                    intuitiveness.
                </div>
                <div class="img-container"><img src="../static/contemporary-771x528.jpg" alt="imagenotfound" /></div>
            </div>
        </div>
        <div>
            <div class="alignment img-left">
                <div class="img-container"> <img src="../static/ballet-771x512.jpg" alt="imagenotfound" /></div>
                <div class="para-container dance-form dance-3">
                    <h2>Ballet</h2>
                    <p> </p>
                    It is an aesthetically clean and minimalist, highly professional and graphically
                    refined and polished, very well structured and intuitively navigable, user and developer
                    friendly, lightweight and extremely modern, search engine optimized and notoriously bold and
                    communicative, visually stimulating responsive multi-concept dance studio template.
                </div>
            </div>
        </div>
        <div>
            <div class="alignment img-right">
                <div class="para-container dance-form dance-4">
                    <h2>Hip-Hop</h2>
                    <p></p>
                    AMP dancing template is simple for customization and usage. This theme using modern AMP technology.
                    Dancing template is designed to satisfy the latest website requirements. It helps you to effectively
                    manage the website speed in small screen mobile devices.
                </div>
                <div class="img-container"><img src="../static/hip-hop-771x514.jpg" alt="imagenotfound" /></div>
            </div>
        </div>
    </section>
    <div class="heading">
        <h2>Meet our Insructors</h2>
    </div>
    <div class="teachers-info">
        <div class="info-card" id="info-card-1">
            <div class="teacher-img"><img src="../static/shaktimohan.webp" alt="image" /></div>
            <p></p>
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eaque est asperiores nostrum totam modi. Dolores odit eos officiis veniam deserunt."
        </div>
        <div class="info-card" id="info-card-2">
            <div class="teacher-img"><img src="../static/dharmesh.jpg" alt="image" /></div>
            <p></p>
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eaque est asperiores nostrum totam modi. Dolores odit eos officiis veniam deserunt."
        </div>
        <div class="info-card" id="info-card-3">
            <div class="teacher-img"><img src="../static/mohenasingh.jpg" alt="image" /></div>
            <p></p>
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eaque est asperiores nostrum totam modi. Dolores odit eos officiis veniam deserunt."
        </div>
    </div>
    <footer id="footer">
        |Copyright &copy 2020 DanceAcademy.com.| All rights reserved

    </footer>

</body>

</html>