<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>DanceAcademy</title>
</head>

<body>
    <nav id="navbar">
        <div id="image">
            <img src="../static/dance logo.png" alt="image" class="logo">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./classInfo">Class Info</a></li>
            <li><a href="./services">Services</a></li>
            <li><a href="./contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="introSection">
        <div class="intro">
            Welcome to Dance Academy
        </div>
        <div class="small">
            Eat Sleep Dance Repeat !!
        </div>
        <div class="quote">
            Why walk when you can Dance??
        </div>

    </section>
    <section id="missionSection">
        <h2>Our Mission</h2>
        <div class="mission-box">

            <div id="card-1" class="card">
                <h3>Dance Perfection</h3>
                <div class="card-content">
                    <p> This is the best dance academy in india. </p>
                </div>
            </div>
            <div id="card-2" class="card">
                <h3> Dance the way you like</h3>
                <div class="card-content">
                    <p> This is the best dance academy in india. </p>
                </div>
            </div>
            <div id="card-3" class="card">
                <h3>Expert Teacher</h3>
                <div class="card-content">
                    <p> This is the best dance academy in india. </p>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsersSection">
        <h2>Our Sponsers</h2>
        <div class="sponsers">
            <img src="../static/dfblogo.png" alt="facebook" class='spImage fblogo'>
            <img src="../static/dinstalogo.jpeg" alt="instagarm" class='spImage change'>
            <img src="../static/dtwittlogo.png" alt="twitter" class='spImage change'>
            <img src="../static/pintrestlogo.jpeg" alt="pintrest" class='spImage change'>
        </div>

    </section>

    <footer id="footer">
        |Copyright &copy 2020 DanceAcademy.com.| All rights reserved

    </footer>




</body>

</html>