<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/services.css">
    <title>DanceAcademy|Services</title>
</head>

<body>
    <nav id="navbar">
        <div id="image">
            <img src="../static/dance logo.png" alt="image" class="logo">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./classInfo">Class Info</a></li>
            <li><a href="./services">Services</a></li>
            <li><a href="./contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="why-us">
        <h2>Why Our Academy</h2>
    </div>
    <section class="services">
        <div class="services-card">
            <div class="card-box">
                <div class="ser-card-img breadth"><img src="../static/teacher.png" alt="best instructor" /></div>
                <div class="card-text breadth">
                    <p>Best Mentors</p>
                </div>
            </div>
            <div class="card-box">
                <div class="ser-card-img breadth"><img src="../static/experience.png" alt="best instructor" /></div>
                <div class="card-text breadth">
                    <p>5 Years of experience</p>
                </div>
            </div>
            <div class="card-box">
                <div class="ser-card-img breadth"><img src="../static/icons8-calendar-50.png" alt="best instructor" />
                </div>
                <div class="card-text breadth">
                    <p>Flexible Timetable</p>
                </div>
            </div>
        </div>
        <div class="services-card">
            <div class="card-box">
                <div class="ser-card-img breadth"><img src="../static/price.png" alt="Affordable price" /></div>
                <div class="card-text breadth">
                    <p>Affordable Price</p>
                </div>
            </div>
            <div class="card-box">
                <div class="ser-card-img breadth"><img src="../static/result.png" alt="best instructor" /></div>
                <div class="card-text breadth">
                    <p>Best result Guranteed</p>
                </div>
            </div>
            <div class="card-box">
                <div class="ser-card-img breadth"><img src="../static/ac.png" alt="best instructor" /></div>
                <div class="card-text breadth">
                    <p>Air conditioned Room</p>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        |Copyright &copy 2020 DanceAcademy.com.| All rights reserved

    </footer>


</body>

</html>